{% extends 'base.html' %}

{% block body %}
    <div class="container mt-4">
        {% include 'navbar.html' %} <!-- Incluye el navbar para navegación -->

        {% block content %}
        <!-- Contenido principal de las páginas de productos -->
        {% endblock %}

        {% include 'footer.html' %} <!-- Incluye el footer al final -->
    </div>

    {% block javascript %}
    <!-- Puedes incluir scripts adicionales aquí -->
    <script>
        // Ejemplo: Inicialización de tooltips de Bootstrap
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
    {% endblock %}
{% endblock %}
